:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

a {
  font-family: inherit;
  text-decoration: inherit;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-family: inherit;
}

button {
  font-family: inherit;
}

